<tr>
  <td>
    <%= audit_log.id %><br>
  </td>
  <td>
    <%= audit_log.user.full_name %><br>
  </td>
  <td>
    <%= audit_log.start_date.strftime("%B %-d, %Y") %><br>
  </td>
  <td>
    <% if audit_log.end_date != nil %>
      <%= audit_log.end_date.strftime("%B %-d, %Y") %>
    <% end %>
    <br>
  </td>
  <td>
    <%= status_label audit_log.status %><br>
  </td>
</tr>


    